* {
  margin: 0;
  padding: 0;
}

$mainColor: #76c39a;
$textColor: #acaeb4;
$swatch_1: #eff6f2;
$swatch_2: #b2ddc5;
$swatch_3: #c0bdc0;
$swatch_4: #383538;
$swatch_5: #908877;
$swatch_6: #1ba347;

// ::-webkit-scrollbar {
//   width: 5px;
// }
// ::-webkit-scrollbar-truck {
//   background-color: #f1f1f1;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #b8b5b5;
// }
.App {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  .Sidebar {
    flex: 2;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    border-right: 3px solid #f1f1f1;
    .sidebarLogo {
      color: $swatch_6;
      font-size: 50px;
      font-weight: 600;
      line-height: 54px;
    }
    .sidebarList {
      list-style-type: none;
      .sidebarItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $textColor;
        cursor: pointer;
        margin: 20px 0;
        &:hover .sidebarLink,
        &:hover .sidebarIcon {
          color: $swatch_6;
        }

        .sidebarIcon {
          margin-right: 15px;
        }
        .sidebarLink {
          text-decoration: none;
          color: $textColor;
        }
      }
    }
  }
  .Feed {
    flex: 5;
    padding-top: 20px;
    padding-left: 15px;
    .AdminDashboard {
      .search {
        display: flex;
        align-items: center;

        .searchIcon {
          color: $textColor;
          margin-right: 5px;
        }
        .searchInput {
          width: 70%;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
      .dashboardTitle {
        margin-top: 15px;
        font-weight: 800;
      }
      .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        .menuItem {
          display: flex;
          align-items: flex-start;
          margin-right: 45px;
          .menuItemIcon {
            background-image: linear-gradient($mainColor, $swatch_6);
            color: #fff;
            padding: 10px;
            border-radius: 10px;
            font-size: 40px;
            margin-right: 10px;
          }
          .menuLink {
            display: flex;
            flex-direction: column;
            color: $textColor;
            font-size: 12px;

            span {
              color: #111;
              font-size: 24px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
.Rightbar {
  flex: 3;
}

// change ant design
.ant-tabs-ink-bar {
  background: $swatch_6;
}
.ant-tabs-tab {
  &:hover {
    color: $swatch_6;
  }
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $swatch_6;
}
.ant-tabs-tab-btn {
  &:active {
    color: $swatch_6;
  }
}
