* {
  margin: 0;
  padding: 0;
}

$mainColor: #39ba76;
$textColor: #acaeb4;

// ::-webkit-scrollbar {
//   width: 5px;
// }
// ::-webkit-scrollbar-truck {
//   background-color: #f1f1f1;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #b8b5b5;
// }
.App {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  .Sidebar {
    flex: 2;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    border-right: 3px solid #f1f1f1;
    .sidebarLogo {
      color: $mainColor;
      font-size: 50px;
      font-weight: 600;
      line-height: 54px;
    }
    .sidebarList {
      list-style-type: none;
      .sidebarItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $textColor;
        cursor: pointer;
        margin: 20px 0;
        &:hover .sidebarLink,
        &:hover .sidebarIcon {
          color: $mainColor;
        }

        .sidebarIcon {
          margin-right: 15px;
        }
        .sidebarLink {
          text-decoration: none;
          color: $textColor;
        }
      }
    }
  }
  .Feed {
    flex: 5;
    padding-top: 20px;
    padding-left: 15px;
    .AdminDashboard {
      .search {
        display: flex;
        align-items: center;

        .searchIcon {
          color: $textColor;
          margin-right: 5px;
        }
        .searchInput {
          width: 70%;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
.Rightbar {
  flex: 3;
}
